<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="post">
	{% csrf_token %}
	School Name <input type="text" placeholder="Enter the School Name" name="name"><br><br>
<!-- 	Student Name <input type="text" placeholder="Enter the name" name="st_name"><br><br>
	Student Roll no <input type="text" placeholder="Enter the roll no" name="st_roll_no"><br><br>
	Student Subject <input type="text" placeholder="Enter the subject" name="st_sub"><br><br>
	<input type="submit" name="submit"> -->
	<input type="submit" name="submit">

</form>
</body>
</html>

